<nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav">
    <li><%=link_to "Home", site_index_path%></li>
    <li><%=link_to "Categories", categories_path%></li>
    <li><%=link_to "Articles", articles_path%></li>
  </ul>
  <ul class="nav navbar-right navbar-nav" style="margin: 0px">
  <% if user_signed_in? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class = "glyphicon glyphicon-user"> </span><%= current_user.username %>
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "<i class = 'glyphicon glyphicon-cog'></i> Account Settings".html_safe, edit_user_registration_path %></li>
        <li><%= link_to "<i class = 'glyphicon glyphicon-log-out'></i> Logout".html_safe, destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "<i class = 'glyphicon glyphicon-log-in'></i> Login".html_safe, new_user_session_path %></li>
    <li><%= link_to "<i class = 'glyphicon glyphicon-user'></i> Register".html_safe, new_user_registration_path %></span></li>
  <% end %>
  </ul>
</nav>