<p id="notice"><%= notice %></p>

<p>
  <h2><%= @category.name %></h2>
  <%= @category.products.count %> products in this category
</p>

<table class ="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody><%@category.products.each do |product|%>
    <tr>
      <td><%= link_to product.name, product%></td>
      <td><%= product.description%></td>
      <td>&#8377;<%= product.price%></td>
    </tr>
  <%end%></tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
