<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :publication_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :publication_body %>
  </div>

  <div class="field">
    <%= form.label :instructor_id %>
    <%= form.number_field :instructor_id, id: :publication_instructor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
